.flexbox {
  display: flex;
  align-items: center;
  flex-direction: column;

}
img {
  background-position: center;
}

h1 {
  color: #c1001f;
}

a:link {
    color: #c1001f;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #c1001f;
    background-color: transparent;
    text-decoration: none;
}

a:hover {

    background-color: transparent;
    text-decoration: underline;
}

button {
  height: 50px;
  widht: 200px;
  background-color: #c1001f;
}

#button {
color: white;
font-size: 20px;
}
